<h1>Places</h1>

<p>
  <button type="button" class="btn btn-outline-dark" href="/places/new">New place</button>
</p>

<ul class="list-unstyled">
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>" class="text-decoration-underline fw-bold text-primary h5 d-block"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>